@font-face {
  font-family: Graphik;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Graphik/Graphik-Regular.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Regular.woff") format("woff");
}

@font-face {
  font-family: Graphik;
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Graphik/Graphik-Bold.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Bold.woff") format("woff");
}

section {
  margin-top: 150px;
}

.body-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1f max-content;
      grid-template-rows: 1f -webkit-max-content;
      grid-template-rows: 1f max-content;
      grid-template-areas: "main" "footer";
  background-color: #19191b;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  color: #BDBDC3;
  font-style: normal;
}

.container {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
}

.container-with-paddings {
  padding: 0 24px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 40px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  padding: 12px 41px 10px;
  background-color: #19191b;
  color: #ffffff;
  cursor: pointer;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.5px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__btn:hover {
  background-color: #fff;
  color: #5454D4;
  font-weight: 600;
}

.logo {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
}

.logo::after {
  position: absolute;
  bottom: -9px;
  left: 0;
  content: "";
  height: 2px;
  width: 0;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#5454D4), to(#BDBDC3));
  background: -webkit-linear-gradient(left, #5454D4, #BDBDC3);
  background: -o-linear-gradient(left, #5454D4, #BDBDC3);
  background: linear-gradient(to right, #5454D4, #BDBDC3);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.logo:hover::after {
  width: 100%;
}

.nav {
  padding: 0 10px 0 100px;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.nav__link {
  margin-right: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.55px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav__link:hover {
  color: #5454D4;
  font-weight: 600;
}

.nav__link--active {
  color: #5454D4;
}

.main {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
}

.intro {
  position: relative;
  margin-top: 0;
  padding-top: 107px;
}

.intro__inner {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.intro__header, .intro__img {
  padding: 0 24px;
  width: 100%;
  max-width: 584px;
  min-width: 333px;
}

.intro__header {
  padding-top: 123px;
}

.intro__title {
  font-family: Graphik, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 80px;
  line-height: 84px;
  margin-bottom: 24px;
}

.intro__text {
  letter-spacing: -0.656526px;
  margin-bottom: 60px;
}

.intro__img {
  margin-right: -33px;
  max-width: 598px;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__bg-left {
  position: absolute;
  z-index: -6;
  top: 0;
  left: 0;
}

.intro__bg-right {
  position: absolute;
  z-index: -5;
  top: 0;
  right: 0;
}

.btn-link {
  min-width: 201px;
  position: relative;
  padding: 16px 59px 15px 27px;
  color: #ffffff;
  background-color: #5454D4;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.btn-link--btn-tag {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  padding-right: 27px;
  border: none;
  text-align: center;
}

.btn-link--after::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 25px;
  background: url(../img/arrow-right-up.svg);
  background-position: center center;
  width: 24px;
  height: 24px;
}

.btn-link:hover {
  background-color: #6161dc;
}

.video__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.video__title {
  width: 100%;
  max-width: 588px;
  font-family: Graphik, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #FFFFFF;
}

.video__subtitle {
  width: 100%;
  max-width: 588px;
  letter-spacing: -0.656526px;
}

.video__wrapper {
  position: relative;
}

.video__wrapper video {
  display: block;
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 124px;
  height: 124px;
  background-color: #5454D4;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.video__play-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 22px;
  background: url(../img/video/video-play-btn.svg);
  background-repeat: no-repeat;
}

.video__play-button:hover {
  background-color: #6161dc;
}

.service {
  margin-top: 148;
}

.service .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 140px 1fr;
      grid-template-rows: 140px 1fr;
  grid-row-gap: 50px;
}

.service__title {
  padding: 0 277px;
  font-family: Graphik, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}

.service__list {
  padding: 0 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 24px;
}

.service__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 40px;
}

.service__img-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  width: 69px;
  height: 69px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #212030;
}

.service__img-wrapper--blue-bg {
  background-color: #212030;
}

.service__img-wrapper--red-bg {
  background-color: #342020;
}

.service__img-wrapper--yellow-bg {
  background-color: #373122;
}

.service__sevices-name {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.750316px;
  color: #FFFFFF;
}

.service__description {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.500211px;
}

.portfolio {
  margin-top: 153px;
}

.portfolio > .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 79px 475px;
      grid-template-rows: 79px 475px;
  grid-row-gap: 70px;
}

.portfolio__title {
  font-family: Graphik, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 58px;
  line-height: 79px;
  color: #FFFFFF;
}

.portfolio__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__slider-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}

.portfolio__slider-item {
  width: 384px;
  height: 301px;
  padding: 24px;
  background-color: #1e1e20;
  -webkit-border-radius: 14px;
          border-radius: 14px;
}

.portfolio__slider-item:nth-child(2) {
  margin-top: 58px;
}

.portfolio__slider-item:nth-child(3) {
  margin-top: 116px;
}

.portfolio__controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-column-gap: 8px;
  margin: 0 auto;
}

.portfolio__slider-btn {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #121213;
  cursor: pointer;
}

.portfolio__slider-btn--active {
  width: 16px;
  background-color: #5454D4;
}

.contact-us {
  margin-top: 168px;
  padding: 187px 0;
  background-color: #1C1B1D;
}

.contact-us__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us__title {
  width: 100%;
  max-width: 826px;
  font-family: Graphik, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 66px;
  color: #FFFFFF;
}

.footer {
  padding: 50px 0 100px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
}

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inner nav {
  margin-left: auto;
}

.footer__copyrights {
  width: 100%;
  max-width: 285px;
  margin-left: 50px;
  text-align: right;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: -0.5px;
}
