@font-face {
  font-family: Graphik;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Graphik/Graphik-Regular.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Regular.woff") format("woff");
}

@font-face {
  font-family: Graphik;
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Graphik/Graphik-Bold.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Bold.woff") format("woff");
}

.body-wrapper {
  background-color: #19191b;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  color: #BDBDC3;
  font-style: normal;
}

.container {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
}

.container-with-paddings {
  padding: 0 24px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 40px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
}

.header__logo::after {
  position: absolute;
  bottom: -9px;
  left: 0;
  content: "";
  height: 2px;
  width: 0;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#5454D4), to(#BDBDC3));
  background: -webkit-linear-gradient(left, #5454D4, #BDBDC3);
  background: -o-linear-gradient(left, #5454D4, #BDBDC3);
  background: linear-gradient(to right, #5454D4, #BDBDC3);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header__logo:hover::after {
  width: 100%;
}

.header__btn {
  padding: 12px 41px 10px;
  background-color: #19191b;
  color: #ffffff;
  cursor: pointer;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.5px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__btn:hover {
  background-color: #fff;
  color: #5454D4;
  font-weight: 600;
}

.nav {
  padding-left: 50px;
}

.nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[4];
      grid-template-columns: repeat(4, -webkit-max-content);
      grid-template-columns: repeat(4, max-content);
  grid-column-gap: 40px;
}

.nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.55px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav__link:hover {
  color: #5454D4;
  font-weight: 600;
}

.nav__link--active {
  color: #5454D4;
}

.main {
  position: relative;
}

.intro {
  position: relative;
  padding: 107px 0;
}

.intro__inner {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.intro__header, .intro__img {
  padding: 0 24px;
  width: 100%;
  max-width: 584px;
  min-width: 333px;
}

.intro__header {
  padding-top: 123px;
}

.intro__title {
  font-family: Graphik, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 80px;
  line-height: 84px;
  margin-bottom: 24px;
}

.intro__text {
  letter-spacing: -0.656526px;
  margin-bottom: 60px;
}

.intro__img {
  margin-bottom: 27px;
  margin-right: -33px;
  max-width: 598px;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__bg-left {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
}

.intro__bg-right {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
}

.btn-link {
  position: relative;
  padding: 16px 59px 15px 27px;
  color: #ffffff;
  background-color: #5454D4;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.btn-link::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 25px;
  background: url(../img/arrow-right-up.svg);
  background-position: center center;
  width: 24px;
  height: 24px;
}

.video {
  padding-top: 17px;
}

.video__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.video__title {
  width: 100%;
  max-width: 588px;
  font-family: Graphik, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #FFFFFF;
}

.video__subtitle {
  width: 100%;
  max-width: 588px;
  letter-spacing: -0.656526px;
}

.video__wrapper {
  position: relative;
}

.video__wrapper video {
  display: block;
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 124px;
  height: 124px;
  background-color: #5454D4;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.video__play-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 22px;
  background: url(../img/video/video-play-btn.svg);
  background-repeat: no-repeat;
}

.video__play-button:hover {
  background-color: #6161dc;
}
