@font-face {
    font-family: Graphik;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Graphik/Graphik-Regular.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Regular.woff") format("woff");
}

@font-face {
    font-family: Graphik;
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Graphik/Graphik-Bold.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Bold.woff") format("woff");
}

$graphik: Graphik,
Arial,
Helvetica,
sans-serif;
$nunito-sans: 'Nunito Sans',
Arial,
Helvetica,
sans-serif;
$whtie: #ffffff;
$black:#19191b;
$blue: #5454D4;
$gray: #BDBDC3;
$bg-blue:#212030;
$bg-red:#342020;
$bg-yellow:#373122;
section {
    margin-top: 150px;
}

.body-wrapper {
    display: grid;
    grid-template-rows: 1f max-content;
    grid-template-areas: "main" "footer"; //header is absent due to it was positioned absolute
    background-color: $black;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    color: $gray;
    font-style: normal;
}

// END body-wrapper
.container {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
}

.container-with-paddings {
    padding: 0 24px;
}

// END container
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 40px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__btn {
        padding: 12px 41px 10px;
        background-color: $black;
        color: $whtie;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #ffffff;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.5px;
        transition: all 0.2s linear;
    }
    &__btn:hover {
        background-color: #fff;
        color: $blue;
        font-weight: 600;
    }
}

.logo {
    flex-shrink: 0;
    position: relative;
    &::after {
        position: absolute;
        bottom: -9px;
        left: 0;
        content: "";
        height: 2px;
        width: 0;
        border-radius: 1px;
        background: linear-gradient(to right, $blue, $gray);
        transition: all 0.5s linear;
    }
    &:hover::after {
        width: 100%;
    }
}

// END header
.nav {
    padding: 0 10px 0 100px;
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__link {
        margin-right: 40px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24.55px;
        transition: all 0.2s linear;
    }
    &__link:hover {
        color: $blue;
        font-weight: 600;
    }
    &__link--active {
        color: $blue;
    }
}

// END nav
.main {
    position: relative;
    grid-area: main;
}

.intro {
    position: relative;
    margin-top: 0;
    padding-top: 107px;
    &__inner {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__header,
    &__img {
        padding: 0 24px;
        width: 100%;
        max-width: 584px;
        min-width: 333px;
    }
    &__header {
        padding-top: 123px;
    }
    &__title {
        font-family: Graphik, Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: $whtie;
        font-size: 80px;
        line-height: 84px;
        margin-bottom: 24px;
    }
    &__text {
        letter-spacing: -0.656526px;
        margin-bottom: 60px;
    }
    &__img {
        margin-right: -33px;
        max-width: 598px;
        object-fit: cover;
    }
    &__bg-left {
        position: absolute;
        z-index: -6;
        top: 0;
        left: 0;
    }
    &__bg-right {
        position: absolute;
        z-index: -5;
        top: 0;
        right: 0;
    }
}

// END intro
.btn-link {
    min-width: 201px;
    position: relative;
    padding: 16px 59px 15px 27px;
    color: $whtie;
    background-color: $blue;
    border-radius: 4px;
    transition: background-color 0.2s linear;
    &--btn-tag {
        align-self: center;
        padding-right: 27px;
        border: none;
        text-align: center;
    }
    &--after::after {
        content: "";
        position: absolute;
        top: 17px;
        right: 25px;
        background: url(../img/arrow-right-up.svg);
        background-position: center center;
        width: 24px;
        height: 24px;
    }
    &:hover {
        background-color: #6161dc;
    }
}

// END btn-link
.video {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__title {
        width: 100%;
        max-width: 588px;
        font-family: $graphik;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        color: #FFFFFF;
    }
    &__subtitle {
        width: 100%;
        max-width: 588px;
        letter-spacing: -0.656526px;
    }
    &__wrapper {
        position: relative;
        video {
            display: block;
        }
    }
    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 124px;
        height: 124px;
        background-color: $blue;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s linear;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 53%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 22px;
            background: url(../img/video/video-play-btn.svg);
            background-repeat: no-repeat;
        }
        &:hover {
            background-color: #6161dc;
        }
    }
}

// END video
.contact-us {
    padding: 187px 0;
    background-color: #1C1B1D;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        width: 100%;
        max-width: 826px;
        font-family: $graphik;
        font-weight: bold;
        font-size: 60px;
        line-height: 66px;
        color: #FFFFFF;
    }
}

.footer {
    padding: 50px 0 100px;
    grid-area: footer;
    &__inner {
        display: flex;
        justify-content: space-between;
        nav {
            margin-left: auto;
        }
    }
    &__copyrights {
        width: 100%;
        max-width: 285px;
        margin-left: 50px;
        text-align: right;
        font-size: 16px;
        line-height: 38px;
        letter-spacing: -0.5px;
    }
}

// END footer