@font-face {
    font-family: Graphik;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Graphik/Graphik-Regular.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Regular.woff") format("woff");
}

@font-face {
    font-family: Graphik;
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Graphik/Graphik-Bold.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Bold.woff") format("woff");
}

$graphik: Graphik,
Arial,
Helvetica,
sans-serif;
$nunito-sans: 'Nunito Sans',
Arial,
Helvetica,
sans-serif;
$whtie: #ffffff;
$black:#19191b;
$blue: #5454D4;
$gray: #BDBDC3;
$bg-blue:#212030;
$bg-red:#342020;
$bg-yellow:#373122;
section {
    margin-top: 150px;
}

.body-wrapper {
    display: grid;
    grid-template-rows: 1f max-content;
    grid-template-areas: "main" "footer"; //header is absent due to it was positioned absolute
    background-color: $black;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    color: $gray;
    font-style: normal;
}

// END body-wrapper
.container {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
}

.container-with-paddings {
    padding: 0 24px;
}

// END container
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 40px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__btn {
        padding: 12px 41px 10px;
        background-color: $black;
        color: $whtie;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #ffffff;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.5px;
        transition: all 0.2s linear;
    }
    &__btn:hover {
        background-color: #fff;
        color: $blue;
        font-weight: 600;
    }
}

.logo {
    flex-shrink: 0;
    position: relative;
    &::after {
        position: absolute;
        bottom: -9px;
        left: 0;
        content: "";
        height: 2px;
        width: 0;
        border-radius: 1px;
        background: linear-gradient(to right, $blue, $gray);
        transition: all 0.5s linear;
    }
    &:hover::after {
        width: 100%;
    }
}

// END header
.nav {
    padding: 0 10px 0 100px;
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__link {
        margin-right: 40px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24.55px;
        transition: all 0.2s linear;
    }
    &__link:hover {
        color: $blue;
        font-weight: 600;
    }
    &__link--active {
        color: $blue;
    }
}

// END nav
.main {
    position: relative;
    grid-area: main;
}

.intro {
    position: relative;
    margin-top: 0;
    padding-top: 107px;
    &__inner {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__header,
    &__img {
        padding: 0 24px;
        width: 100%;
        max-width: 584px;
        min-width: 333px;
    }
    &__header {
        padding-top: 123px;
    }
    &__title {
        font-family: Graphik, Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: $whtie;
        font-size: 80px;
        line-height: 84px;
        margin-bottom: 24px;
    }
    &__text {
        letter-spacing: -0.656526px;
        margin-bottom: 60px;
    }
    &__img-wrapper {
        margin-right: -33px;
        position: relative;
        max-width: 598px;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            top: 124px;
            left: -103px;
            width: 95px;
            height: 28px;
            background-image: url(../img/sections-figures/vector.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 33px;
            left: -160px;
            width: 105px;
            height: 120px;
            background-image: url(../img/sections-figures/triangle.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__img {
        margin-right: -33px;
        max-width: 598px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__bg-left {
        position: absolute;
        z-index: -6;
        top: 0;
        left: 0;
    }
    &__bg-right {
        position: absolute;
        z-index: -5;
        top: 0;
        right: 0;
    }
}

// END intro
.btn-link {
    min-width: 201px;
    position: relative;
    padding: 16px 59px 15px 27px;
    color: $whtie;
    background-color: $blue;
    border-radius: 4px;
    transition: background-color 0.2s linear;
    cursor: pointer;
    &--btn-tag {
        align-self: center;
        padding-right: 27px;
        border: none;
        text-align: center;
    }
    &--after::after {
        content: "";
        position: absolute;
        top: 17px;
        right: 25px;
        background: url(../img/arrow-right-up.svg);
        background-position: center center;
        width: 24px;
        height: 24px;
    }
    &:hover {
        background-color: #6161dc;
    }
}

// END btn-link
.video {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__title {
        width: 100%;
        max-width: 588px;
        font-family: $graphik;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        color: #FFFFFF;
    }
    &__subtitle {
        width: 100%;
        max-width: 588px;
        letter-spacing: -0.656526px;
    }
    &__wrapper {
        position: relative;
        video {
            display: block;
        }
    }
    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 124px;
        height: 124px;
        background-color: $blue;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s linear;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 53%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 22px;
            background: url(../img/video/video-play-btn.svg);
            background-repeat: no-repeat;
        }
        &:hover {
            background-color: #6161dc;
        }
    }
}

// END video
.service {
    margin-top: 148;
    .container {
        display: grid;
        grid-template-rows: 140px 1fr;
        grid-row-gap: 50px;
    }
    &__title {
        position: relative;
        padding: 0 277px;
        font-family: $graphik;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        color: #FFFFFF;
        &::before {
            content: "";
            position: absolute;
            top: -32px;
            left: 88px;
            width: 105px;
            height: 120px;
            background-image: url(../img/sections-figures/triangle.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 8px;
            right: 34px;
            width: 42px;
            height: 42px;
            background-image: url(../img/sections-figures/plus.svg);
            background-position: center;
            background-repeat: no-repeat;
            transform: rotate(60deg);
        }
    }
    &__list {
        position: relative;
        padding: 0 24px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 24px;
        &::after {
            content: "";
            position: absolute;
            bottom: -45px;
            left: 3px;
            width: 42px;
            height: 42px;
            background-image: url(../img/sections-figures/plus.svg);
            background-position: center;
            background-repeat: no-repeat;
            transform: rotate(27deg);
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 40px;
    }
    &__img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        width: 69px;
        height: 69px;
        border-radius: 50%;
        background-color: $bg-blue;
    }
    &__img-wrapper--blue-bg {
        background-color: $bg-blue;
    }
    &__img-wrapper--red-bg {
        background-color: $bg-red;
    }
    &__img-wrapper--yellow-bg {
        background-color: $bg-yellow;
    }
    &__img {}
    &__sevices-name {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.750316px;
        color: #FFFFFF;
    }
    &__description {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        letter-spacing: -0.500211px;
    }
}

// END service
.portfolio {
    margin-top: 153px;
    &>.container {
        position: relative;
        display: grid;
        grid-template-rows: 79px 475px;
        grid-row-gap: 70px;
        &::after {
            content: "";
            position: absolute;
            bottom: -28px;
            left: -22px;
            width: 95px;
            height: 28px;
            background-image: url(../img/sections-figures/vector.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__title {
        position: relative;
        font-family: $graphik; //designer set here Nunito sans, but all other titles was set by him as graphik, so probably here should be graphik font-family
        font-weight: 800;
        font-size: 58px;
        line-height: 79px;
        color: #FFFFFF;
        &::after {
            content: "";
            position: absolute;
            bottom: -31px;
            right: 49px;
            height: 67px;
            width: 74px;
            background-image: url(../img/sections-figures/circles.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__slider {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__slider-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 24px;
    }
    &__slider-item {
        width: 384px;
        height: 301px;
        padding: 24px;
        background-color: #1e1e20;
        border-radius: 14px;
    }
    &__slider-item:nth-child(2) {
        margin-top: 58px;
    }
    &__slider-item:nth-child(3) {
        margin-top: 116px;
    }
    &__controls {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 8px;
        margin: 0 auto;
    }
    &__slider-btn {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: #121213;
        cursor: pointer;
    }
    &__slider-btn--active {
        width: 16px;
        background-color: $blue;
    }
}

.contact-us {
    margin-top: 168px;
    padding: 187px 0;
    background-color: #1C1B1D;
    &>.container {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -118px;
            right: 34px;
            width: 42px;
            height: 42px;
            background-image: url(../img/sections-figures/plus.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -120px;
            left: 52px;
            height: 55px;
            width: 72px;
            background-size: 100%;
            background-image: url(../img/sections-figures/circles.svg);
            background-position: center;
            background-repeat: no-repeat;
            transform: rotate(28deg);
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        width: 100%;
        max-width: 826px;
        font-family: $graphik;
        font-weight: bold;
        font-size: 60px;
        line-height: 66px;
        color: #FFFFFF;
    }
}

.footer {
    padding: 50px 0 100px;
    grid-area: footer;
    &__inner {
        display: flex;
        justify-content: space-between;
        nav {
            margin-left: auto;
        }
    }
    &__copyrights {
        width: 100%;
        max-width: 285px;
        margin-left: 50px;
        text-align: right;
        font-size: 16px;
        line-height: 38px;
        letter-spacing: -0.5px;
    }
}

// END footer